[submodule "frontend"]
	path = frontend
	url = https://github.com/kzwolenik95/resume-frontend
[submodule "backend"]
	path = backend
	url = https://github.com/kzwolenik95/resume-backend
[submodule "e2e_tests"]
	path = e2e_tests
	url = https://github.com/kzwolenik95/resume-e2e-tests
